@import url("./var.css");
@import url("./home.css");
@import url("./mediaQuerys.css");

* {
    color: var(--white);
    font-family: var(--fonte-principal);
    padding: 0px;
    margin: 0px;

    list-style-type: none;
}

::selection {
    background-color: var(--selection-color);
}


html {
    scroll-behavior: smooth;
} 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    height: 100vh;

    background: var(--bg);
    cursor: default;
}

a {
    text-decoration: none;
    padding: 3px;
}

.background::before {
    content: "";
    height: 100vh;
    width: 100vw;
    color: var(--opacity-gray);
    position: fixed;
    z-index: -1;
    
    background: linear-gradient(currentcolor 1px, transparent 1px) 0% 0% / 94px 90px, linear-gradient(to right, currentcolor 1px, transparent 1px) 0% 0% / 94px 90px, transparent;
    transition: all 0.5s linear 0s;
}

.background::after {
    background-image: radial-gradient(at 40% 40%, rgb(30, 144, 255) 0px, transparent 50%), radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%), radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%), radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%), radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%), radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%), radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
    position: fixed;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(100%);
    top: 0px;
    opacity: 0.1;
    transform: translateZ(0px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80vw;
    max-width: 1200px;
    margin: 75px 50px;
}

#gabriel-logo {
    font-size: 2.15em;
    font-weight: 300;
    font-variant: small-caps;

    z-index: 3;

    padding: 2.5px;

    color: #fff;
    mix-blend-mode: difference;
}

.nav-bar ul {
    display: flex;
    gap: 15px;
}

.nav-bar a {
    position: relative;
    padding: 10px 15px;
}

.nav-bar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: var(--white);

    width: 100%;
    height: 1px;

    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease-out;
}

.nav-bar a:hover::before {
    transform: translateX(-50%) scaleX(1);
}

.nav-bar i {
    padding: 13px 15px;
    cursor: pointer;
}

.hamburgerBtn {
    border: none;
    background: none;
    cursor: pointer;

    padding: 20px 10px;
}

.hamburger {
    display: none;
    position: relative;
    top: -10px;
    width: 25px;
    height: 1px;
    border-top: 1px solid var(--white);
}
  
.hamburger::after,
.hamburger::before {
    content: "";
    display: block;
    width: 25px;
    height: 1px;

    background: var(--white);
    margin-top: 7.5px;
    position: relative;
    transition: 0.3s;
}

.container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 90vw;
    max-width: 960px;
    margin: 0px 20px;
}

.next-page {
    padding-top: 30px;
    font-size: 0.9em;
    font-weight: 100;
}

.next-page a {
    position: relative;
    display: inline-flex;
    padding: 5px;

    align-items: center;
}

.next-page a::before {
    content: "";
    position: absolute;
    top: 85%;
    left: 0;
    background-color: var(--white);

    width: 0;
    height: 0.1px;
    transition: width 0.3s ease;
}

.next-page a:hover::before {
    width: 80%;
}

.arrow {
    fill: var(--white);

    margin-left: 1rem;
    animation-name: forwards;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.footer {
    margin: 50px 5px;
    width: 100%;
}

.redes-sociais {
    display: flex;
    gap: 40px;
} 

.redes-sociais a {
    display: inline-block;
    padding: 5px 12px;

    transition: transform 0.2s ease;
}

.redes-sociais a:hover {
    transform: scale(1.1);
}


.fade-item {
    opacity: 0;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.7s ease-out forwards;
}

@keyframes forwards {
    0% {
        margin-left: 1rem;
    }

    100% {
        margin-left: 2rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px) translateX(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}